<% stories.forEach(function (story) { %>
    <a href="/stories/<%=story.id%>">
        <div class="border my-4 bg-gray-800 p-2" role="alert">
            <%= story.title %>          
            </div>
    </a>
    <% }); %>